h1,h2,h3,h4,h5,h6, strong, span, th, td, input::first-letter,button::first-letter{
    text-transform: capitalize;
}
/* label{
    text-align: right;
} */
.pointer{
    cursor: pointer;
}
.pointer:hover{
    background-color: skyblue
}
.mrgn50{
    margin: 50px 0;
}
.mgn-top50{
    margin-top: 20px !important;
}
.m-2-1rem{
    margin: 2rem 1rem;
}
.m-10rem{
    margin-bottom: 15rem ;
    margin-left: 1rem;
}
.padding {
    padding: 2rem
}
.background{
    background-color: #fff;
    padding: 2rem;
    border-radius: 2rem;
    
}
/* ::-webkit-input-placeholder {
    text-align: center;
  } */
.m-5rem{
    margin: 0 .5rem
}
  .noen::placeholder{
      text-align: left;
  }
  .noar::placeholder{
    text-align: right;
}

.noen{
    text-align: left;
}

.noar{
    text-align: right;
}

.storeImageUpdate{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.productForm section{
    display: flex;
    flex-wrap: wrap;
}
.productInputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.productInputs div, .qtq {
    padding: 2rem 0;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0;
    /* margin: auto; */
}

.leftBorder {
    padding: .3rem;
    border-left: 1px solid gray;    
}
.rightBorder {
    padding: .3rem;
    border-right: 1px solid gray;    
}
.productForm .marginDiv{
    margin: 1rem 0;
}

.productForm div select{
    width: 25%;
}

.thirdCategory{
    width: 100%;
    height: 2.5rem;
}

/* .form-check{
    padding: .1rem !important;
} */

.TCS{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.searchWrapper {
    margin: 0 !important;
}

.sizesDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-break: 10px;
}
.sizesDiv h5{
    margin: auto .5rem !important;
}   



.radioBtns{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    line-height: 2rem;

}
.discountSection{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}
.discountSection .discountRate{
    margin: 0 1rem;
}
#sizesInput{
    margin: .5rem 0;
}

.description{
    display: flex;
    flex-direction: row;
    width: 100%;
 justify-content:   space-around
}

.description div{
    width: 80%;
    margin: 1rem
}
.quantity{
    display: flex !important;
    flex-direction: column !important;
}
.quantity .quantityInputs{
    padding: 0 1rem;
    display: flexbox !important;
    justify-content: space-between !important;
   
}
.upload{
    display: flex!important;
    flex-direction: column !important;
}

.productPictures{
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10rem;
    border: 1px solid grey;
    padding: 6rem 1rem;
    background-color: #fff;
    border-radius: 1rem;
}

.productPictures div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
}

/* .productPictures div img{
  
} */
.productPictures img{
   max-width: 100%;
    max-height: 9rem;
    box-shadow: 1px 5px lightblue;
    /* box-shadow: 1px 5px lightblue; */
}

.deleteBtnEn{
    position: relative !important;
    top: -50px;
    left: 2.2rem;
}
.deleteBtnAr{
    position: relative !important;
    top: -50px;
    right: 2.2rem;
}

.uploadLabel{
  display: inline-block;
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  /* margin-top: 1rem; */

}
.productRender{
    border: 3px solid #fff;

    /* box-shadow: 1px 5px lightblue; */
    margin: 1rem 0;
    padding: 1rem;
}
.productTitles{
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}

.sizesTable{
    text-align: center;
    margin: 1rem 2rem;
}

.sizesTable td, .sizesTable th {
    border: 1px solid black;
    width: 9rem;

}
.productsRender h6{
    margin: 1.5rem 0;
}

.productbtns{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}
.productbtns .productbtn:nth-child(1) {
    width: 26%;
    /* display: flex;
    align-items:center;
    flex-direction: column; */
}
.productbtn:nth-child(2){
    max-width: 50%;
  
  
}
.productbtn:nth-child(2) form{
   width: 100%;
   
}

/* .productbtn:nth-child(2) form fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    
 } */


.productStatusHead{
    padding: 1rem;
}
.discountForm{
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
    background-color: transparent;
   
}
.fieldset{
    padding: 1rem;
   border-width: 1px;
   border-style: solid;
   border-color: black;
   border-radius: 1rem;
   background-color:rgb(202, 182, 182);
}

.legend{
    float: none !important;
    width: inherit;
    margin: 0 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color:#fff;
    font-size: medium;
    font-weight: bold;
   
    padding: .5rem;
}
.discounRate{
    width: 40%;
    margin: 0 1rem;
    border: 1px solid rgba(149, 148, 148, 0.803);
    border-radius: .3rem;
    padding: .3rem
}
.switchLabel, .react-switch-bg{
    margin: auto 1rem;
}


.discountFormBtns{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productUl{
    list-style-type: none;
    margin: auto;
    padding: 0 1rem;
    /* justify-content: flex-start */
   
}
.productUl li{
   width: 70%;
    margin: .5rem 0;
    display: flex;
    justify-content: space-between;

}

.productUl li input{
    width: 30%;
    border:rgb(235, 145, 145) solid 1px;
    border-radius: 5px;
}

.productUl li button{
   border: 0;
   border-radius:  1rem;
   background-color:rgb(235, 145, 145);
   color: white;
}

.SQForm h6 input{
    width: 30%;
    border:rgb(235, 145, 145) solid 1px;
    border-radius: 5px;
}
.SQForm h6 strong{
    font-family: "Helvetica Neue",Helvetica,Arial;
} 

.SQForm h6{
   text-align: center;
}

.SQForm{
    width: 100%;
    margin-top: 1rem;
}

.addOwnSizes{
    margin: auto 1rem;
    border: 1px solid #fff;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.lg-spinner {
    height: 3rem !important;
    width: 3rem !important;
}
